@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
body {
  background: var(--color-theme-1)
}

.mar-lef-15 {
  margin-left: -15px;
}
.font-25 {
  font-size: 25px !important;
}
.mar-top-7 {
  margin-top: -7%;
}
.container {
  background: #FFFFFF;
  width: 940px;
  height: 620px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(238, 19, 81);
  font-weight: 900;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.CTA {
  width: 119px;
  height: 62px;
  right: -45px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: var(--color-theme-2);
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.CTA h1 {
  color: #FFFFFF;
  margin-top: 5px;
  margin-left: 9px;
}
.CTA:hover {
  background: green !important;
  transform: scale(1.1);
}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: var(--color-theme-2);
  box-shadow: 3px 3px 10px rgba(216, 181, 181, 0.5);
}

nav a {
  list-style: none;
  padding: 45px;
  color: #FFFFFF;
  font-size: 2em;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-left: 6px;
}
nav a:hover {
  color: var(--nav-bar-color);
  transform: scale(1.2);
  cursor: pointer;
}
nav a:first-child {
  margin-top: -19px;
}

.active {
  color: var(--nav-bar-color);
}


  

.rightbox {
  float: right;
  width: 60%;
  height: 100%;
}

.profile, .payment, .subscription, .privacy, .settings {
  transition: opacity 0.5s ease-in;
  position: absolute;
  width: 70%;
  /* display: none; */
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(217, 55, 101);
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 2px;
  width: auto;
}

p, textarea {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  padding: 7px 0;
  color: #070707;
  resize: none;
}

span {
  font-size: 0.5em;
  color: #777777;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  color: #3FB6A8;


}

.btn:hover {
  text-decoration: underline;
  font-weight: 900;
}

input, select {
  border: 0px solid #dddddd;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #070707;
}


.privacy h2 {
  margin-top: 25px;
}

.settings h2 {
  margin-top: 25px;
}

.noshow {
  display: none;
}

footer {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: -20px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}
footer p {
  border: none;
  padding: 0;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #7d7d7d;
}
button {
  z-index: 100;
}
.btn-1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  color: #3FB6A8;
  margin-left: 430px;
}

/* *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
   */
/* 
  
  input, button, select {

    font-size: 14px;
  }
   */
   .app-wrap {
    background: var(--color-theme-5);
  }
  
  .upload-form {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #D6D5D1;
    background-color: white;
    padding: 5px 0;
  }
  .upload-form__field {
    padding:0px 10px 0;
    display: flex;
    align-items: center;
  }
  .upload-form__field input {
    font-size: 14px !important;
  }
  .upload-form__field label {
    width: 70px;
  }
  .upload-form__field input[type=text] {
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid darkGray;
    flex: 1;
  }
  .upload-form__submit {
    text-align: center;

  }
  .upload-form__submit__action {
    border: none;
    padding: 10px 25px;
    background: var(--color-theme-2);
    border-radius: 3px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .upload-form__submit__action:hover {
    background-color: DodgerBlue;
  }
  .upload-form .error {
    text-align: center;
    color: tomato;
    font-weight: 700;
    width: 100%;
    margin: 1px;
  }
  
  .grid-wrap {
    border: 2px solid pink;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .picture-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1024px;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    max-height: 300px;    
    padding: 5px;
  }
  @media (min-width: 640px) {
    .picture-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .picture-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .picture-list__item__wrap {
    box-shadow: 6px 6px 15px 1px rgba(204, 204, 204, 0.5);
    background: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  }
  .picture-list__item__image {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-height: 300px;
  }
  .picture-list__item__name {
    padding: 10px;
    font-weight: 700;
    display: inline-block;
    margin-top: auto;
  }
  
  .bold {
    font-weight: 700;
  }

  .frame-image {
    overflow-y: scroll;
    max-height: 200px;
  }