@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
body {
  background: var(--color-theme-1)
}

.mar-lef-15 {
  margin-left: -15px;
}
.font-25 {
  font-size: 25px !important;
}
.container {
  background: #FFFFFF;
  width: 940px;
  height: 620px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(238, 19, 81);
  font-weight: 900;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.CTA {
  width: 119px;
  height: 62px;
  right: -45px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: var(--color-theme-2);
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.CTA h1 {
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 9px;
}
.CTA:hover {
  background: var(--color-theme-2);
  transform: scale(1.1);
}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: var(--color-theme-2);
  box-shadow: 3px 3px 10px rgba(216, 181, 181, 0.5);
}

nav a {
  list-style: none;
  padding: 45px;
  color: #FFFFFF;
  font-size: 2em;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-left: 6px;
}
nav a:hover {
  color: var(--nav-bar-color);
  transform: scale(1.2);
  cursor: pointer;
}
nav a:first-child {
  margin-top: -19px;
}

.active {
  color: var(--nav-bar-color);
}


  

.rightbox {
  float: right;
  width: 60%;
  height: 100%;
}

.profile, .payment, .subscription, .privacy, .settings {
  transition: opacity 0.5s ease-in;
  position: absolute;
  width: 70%;
  /* display: none; */
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(217, 55, 101);
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p, textarea {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  padding: 7px 0;
  color: #070707;
  resize: none;
}

span {
  font-size: 0.5em;
  color: #777777;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  color: #3FB6A8;
}

.btn:hover {
  text-decoration: underline;
  font-weight: 900;
}

input, select {
  border: 0px solid #dddddd;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  color: #070707;
}


.privacy h2 {
  margin-top: 25px;
}

.settings h2 {
  margin-top: 25px;
}

.noshow {
  display: none;
}

footer {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: -20px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}
footer p {
  border: none;
  padding: 0;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #7d7d7d;
}
button {
  z-index: 100;
}
.btn-1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  color: #3FB6A8;
  margin-left: 430px;
}