
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
    box-sizing: border-box;
}
.custom-img {
    width: 100%; /* Ä�áº·t kÃ­ch thÆ°á»›c chiá»�u rá»™ng thÃ nh 50% */
    height:200px; /* Giá»¯ tá»· lá»‡ khung hÃ¬nh */
    border-radius: 5%;
    cursor: pointer;
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: 700;
    transform: translate(-50%, -50%);
    background-color: transparent; /* Táº¡o má»™t ná»�n má»� tráº¯ng cho vÄƒn báº£n */
    padding: 0px; /* TÃ¹y chá»‰nh padding theo Ã½ muá»‘n */
    font-size: 30px;
    border: #000;
    cursor: pointer;
}
.left-sidebar {
    overflow-y: scroll ;
    overflow-x: hidden;
}

dl, ol, ul {
    margin: 0 !important;
}


.container-app {
    height: calc(100% - 50px);
}
i {
    color: white;
    font-size: 29px;
}