:root{
    --color-theme: linear-gradient(to bottom right, lightyellow, lightpink);
    --side-bar-color:rgba(185, 185, 185, 0.493);
    --nav-bar-color: black;
    --box-ava: white;
/* font, size, color ... */
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  .left-sidebar:hover::-webkit-scrollbar-thumb {
    background: #555; 
  }
  dl, ol, ul {
    margin: 0 !important;
}