:root{
    --color-theme: linear-gradient(to bottom right, lightyellow, lightpink);
/* font, size, color ... */
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
