<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Dating_App</display-name>
  <welcome-file-list>
    <welcome-file>Pages/Login.jsp</welcome-file>
  </welcome-file-list>
  
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>phuongtrinhhoaian@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>szqg vmnb ldty ckoj</param-value>
    </context-param>
   <servlet>
        <servlet-name>EmailController</servlet-name>
        <servlet-class>Controllers.EmailController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmailController</servlet-name>
        <url-pattern>/send-email/*</url-pattern>
    </servlet-mapping>

    
 
   <servlet>
        <servlet-name>ProfileControllers</servlet-name>
        <servlet-class>Controllers.ProfileControllers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfileControllers</servlet-name>
        <url-pattern>/pro/*</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>AdminRole</servlet-name>
        <servlet-class>Controllers.AdminRole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminRole</servlet-name>
        <url-pattern>/AdminRole/*</url-pattern>
    </servlet-mapping>
    

    
</web-app>